.lista-usuarios-container {
  // Estilos específicos heredados de .page-container en styles.scss
}

.mat-column-acciones { width: 120px; text-align: right; }
.mat-column-activo   { width: 80px; text-align: center; }
.mat-column-rol      { width: 130px; }
